:root {
	--ona-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ona-transition--all: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ona-border-radius: 0;
	--wp--style--root--padding-top: 1.5rem;
	--wp--style--root--padding-right: 1.5rem;
	--wp--style--root--padding-bottom: 1.5rem;
	--wp--style--root--padding-left: 1.5rem;
}
