<!-- wp:template-part {"slug":"header-transparent","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">

  <!-- wp:pattern {"slug":"ona/general-hero-architecture"} /-->
  <!-- wp:pattern {"slug":"ona/general-icon-boxes-architecture"} /-->
  <!-- wp:pattern {"slug":"ona/general-intro-architecture"} /-->
  <!-- wp:pattern {"slug":"ona/general-projects-architecture"} /-->
  <!-- wp:pattern {"slug":"ona/general-testimonials-architecture"} /-->
  <!-- wp:pattern {"slug":"ona/general-promo-cta"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
